@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');  

 *{  

      padding: 0;  

      margin: 0;  

      box-sizing: border-box;  

      /*font-family: 'Big Shoulders Display', cursive;  

      font-family: 'Lexend Deca', sans-serif;*/  

 }  

 body{  

      width: 100%; 

      min-height: 100vh;  

      display: flex;  

      justify-content: center;  

      align-content: center;  
   
      @media (min-width:375px) and (max-width: 1440px);

      background-image: url(bg-intro-desktop.png);

      background-color: rgb(211, 86, 86);
      background-size: 100%;


 }  
 .box-conatiner{  

    width: 100%;  

    max-width: 1440px;  

    display: flex;  

    justify-content: center;  

    align-items: center;  

    flex-flow: wrap;  

}  

.box{  

    width: 269px;  

    padding: 15px;  

    min-height: 430px;  

}  

.box1{  
 
    border-top-left-radius: 10px;  

    border-bottom-left-radius: 10px;  

}  
 .content{  

      padding: 10px; 
 }

 h1{  

    color: hsl(0,0%,95%);  

    text-transform: uppercase;  

    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    margin: 20px 0;  

}  

p{  

    color: hsla(0,0%,100%,0.75);  

    font-family:'Lexend Deca', sans-serif; 

}
.btn{  

    margin: 0px 0;  

    padding: 10px 68px;  

    border: 0;  

    border-radius: 30px;  

    outline: none;  

    background-color: rgb(64, 8, 138);  

    font-size: 15px;  

    cursor: pointer;  

    font-family: 'Lexend Deca', sans-serif;  

    font-weight: 900;  

    color: #AAA;
  

}  
* {
	margin:0px;
	padding:18p;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	-moz-font-smoothing:antialiased;
	-o-font-smoothing:antialiased;
	font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}
  body {
	font-family:"Open Sans", Helvetica, Arial, sans-serif;
	font-weight:900;
	font-size: 12px;
	line-height:30px;
	color: black;

	
  }
  .container {
	max-width:400px;
	width:100%;
	margin:0 auto;
	position:relative;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="password"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] { font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif;
 }    

#contact {
	background:#F9F9F9;
	padding:25px;
	margin:50px 0;
  border-radius:7px;
}
  #contact h3 {
	color: #F96;
	display: block;
	font-size: 30px;
	font-weight: 400;
    }
  #contact h4 {
	margin:5px 0 15px;
	display:block;
	font-size:13px;
  }
  fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	wlight0%;
  }
#contact input[type="text"], #contact input[type="email"], #contact input[type="password"], #contact input[type=""], #contact textarea {
	width:100%;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="password"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
-moz-transition:border-color 0.3s ease-in-out;
	transitionorder-color 0.3s ease-in-out;
	border:1px solid #AAA;
}

#contact textarea {
	height:100px;
	max-width:100%;
  resize:none;
}


  #contact button[type="submit"] {
  cursor:pointer;
	width:100%;
	border:none;
	background: rgb(80, 177,127);
	color:rgb(250, 248, 248);
	margin:0 0 5px;
	padding:10px;
	font-size:15px;
}
 a {
   color: red;
 }  








